* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #261b22;
  color: white;
}

button {
  font-family: inherit;
}

html {
  scroll-behavior: smooth;
}